html, body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    border: red 1px solid;
}

h1 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}


h2 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
}

h3 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

.bodyTextBold, p {
  font-family: courier-std, monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.bodyTextMedium {
  font-family: courier-std, monospace;
  font-weight: 400;
  font-style: normal;
}

.bodyTextGreen {
  color: #7ac943;
}

.bodyTextOrange {
  color: #efaa20;
}

.borderBlack {
  border: 4px solid black;
}

.bgWhite {
  background: white;
}

.bgGrey {
  background: grey;
}

.line {
  border-bottom: 4px solid black;
  width: 100%;
}

.shadow {
  -webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}

.absoluteCenter {
  margin: auto;
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  padding: 20px 40px;
  @extend .borderBlack;
  @extend .bgWhite;
  @extend .shadow;
}

button {
  cursor: pointer;
  padding: 5px 20px;
  @extend .borderBlack;
  @extend .bgWhite;
  @extend .shadow;
}

img {
  width: 40%;
  margin: 40px 50% 70px 50%;
  transform: translateX(-50%);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

button#sortPrice {
	margin-right: 40px;
}